$back: rgb(41, 41, 9);
$text: rgb(212, 166, 166);
// размеры
$big-text-size: 28px;
$normal-text-size: 14px;

$large-screen-width:1440px;
$small-screen: 786px;
$phone-screen: 480px;
$bool-radius: 50%;
$smoll-size: 1px;
$fool-size:100%;
$size-win-fool-width: 100vw;
$size-win-fool-higth: 100vh;


// цвета
$base-text-color:#1B1C21;
$pasiv-text-color: #7E7E82;
$btn-color: #FF3E79;
$background-a-blok: #ffffff;
$background-base:#F8F8F8;
$blue-line:#41f6d7;









